@media screen and (max-width: 700px) {
    #NAVBAR_MOBILE {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    
        overflow-y: auto;
        z-index: 10;
    }
    #NAVBAR_MOBILE_CONTENT {
        width: 88%;
        height: 100%;
    
        overflow-y: visible;
        overflow-x: hidden;
    
        float:left;
    
        text-align: center;
    
        background-color: rgb(1, 33, 61);
        border-right: solid 1px rgb(255, 255, 255);
    
        overflow-y: auto;
    }
    #NAVBAR_MOBILE_OPENCLOSE {
        width: calc(12% - 2px);
        height: 12vw;
        float: left;
        overflow: hidden;
    }
    #NAVBAR_MOBILE_OPENCLOSE_PIC {
        width: 100%;
        height: 100%;
    
        background-image: url("./open.svg");
        background-size: contain;
    }
    
    .Navbar_Mobile_Header {
        color: rgb(255, 255, 255);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .Navbar_Mobile_Button {
        background-color: rgb(0, 12, 12);
        border: solid 1px rgb(255, 255, 255);
        width: 90%;
        height: 50px;
        white-space: nowrap;
        display: inline-block;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 50px;
        margin-top: 10px;
    }
    .Navbar_Mobile_Button:active {
        background-color: rgb(187, 192, 197);
        border: solid 1px rgb(0, 0, 0);
        color: black;
    }
    .Navbar_Mobile_Contact {
        color: white;
        white-space: nowrap;
    }
    #NAVBAR_MOBILE_IMG {
        display: inline-block;
        width: 60vw;
        height: 60vw;
    }
}
@media screen and (min-width: 701px) {
    #NAVBAR_MOBILE {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 0%;
        height: 0%;
    
        overflow-y: auto;
        z-index: 10;
    }
}