.Skill_Item {
    background-color: rgba(1, 33, 61, 0);
    width: 100%;
    border-bottom: solid 1px white;
    text-align: center;
}
.Skill_Item_Image {
    display: inline-block;
    height: 150px;
    width: 150px;
    max-width: 80%;
    margin: 20px;

    object-fit: contain;
}
.Skill_Item_Name {
    text-align: center;
    color: white;
}